/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 dic 2021, 20:10:52
    Author     : JMTN
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: roboto;
}
section#content{
    color: white;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    top: 250px;
    left: 420px;
    background: rgba(149,159,208,0.8);
}
.header{
    font-size: 100px;
}
.subHeader{
    font-size: 40px;
}
section#slideshow{
    left: 25%
}
#img_index{
    width: 75%;
    height: 55%;
}
